#u1620InstrCampoBusca {
    width: 250px;
    height: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.u1620instr-grupo-coluna {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* duas colunas */
    gap: 20px;
    padding: 20px;
}

.u1620instr-grupo {
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    background: #fff;
}

.u1620instr-grupo {
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.u1620instr-grupo strong {
    display: block;
    font-size: 18px;
    margin-bottom: 8px;
    color: #005c4b;
    border-bottom: 2px solid #ddd;
    padding-bottom: 4px;
}

.u1620instr-lista {
    padding: 5px 0;
}

.u1620instr-item {
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
    border-bottom: 1px dotted #ccc;
}

.u1620instr-item:last-child {
    border-bottom: none;
}

.u1620instr-item .tag,
.u1620instr-item .descricao {
    color: #005c4b;
}

.u1620instr-item .tag {
    text-align: left;
    flex: 1;
    font-size: 14px;

}

.u1620instr-item .descricao {
    text-align: right;
    min-width: 100px;
    font-size: 14px;
}

.u1620instr-item:hover {
    background-color: #f2f2f2;
}
